<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myconn" connectionString="Data Source=DESKTOP-UFB73PS\SQLEXPRESS;Initial Catalog=Rocket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>